@{
    ViewBag.Title = "Home Page";
}
<style>
body {  
       background-color: #cccccc;

}

</style>

<div class="jumbotron" style="background-color:darkorange; font-family:'Franklin Gothic Medium', 'Arial Narrow' , Arial, sans-serif; color:aliceblue; display:flex; justify-content:center;">
    <h1>Good morning dear employees</h1>
    <br />
    <br />
    <br />
    <p class="lead">This is our new and improved factory management program. Here you will find all your details and updated shifts.</p>
</div>

<div  style="display: flex; justify-content:center; position:relative;">
    <div class="col-md-4">
        <h2>Shift Schedule</h2>
        <p><a class="btn btn-default" href="https://localhost:44307/Shifts/Index">Shifts &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>List of all our employees</h2>
        <p><a class="btn btn-default" href="https://localhost:44307/Employees/Index">Employees &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Departments</h2>
        <p><a class="btn btn-default" href="https://localhost:44307/Departments/Index">Departments list &raquo;</a></p>
    </div>
</div>